<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true"  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" >

  <targets>
    <target name="console" xsi:type="File" fileName=" ${basedir}\log.txt" layout="${longdate}|${level}|${message}" />
    <target name="logfile" xsi:type="File" fileName="c:\x\file.txt" />    
    <target name="rede" xsi:type="Network" address="tcp://localhost:10000"/>
    <target name="viewer" xsi:type="NLogViewer" address="udp://127.0.0.2:9999" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="rede" />
    <logger name="*" minLevel="Trace" writeTo="viewer" />
  </rules>
</nlog>